@CHARSET "utf-8";

.vak {
	width: 3em;
	height:3em;
}

.image{
	position:relative;
	width: 3em;
	height:3em;
}

.levenskracht{
	position:absolute;
	top:1.5em;
	left:0;
	font-size: 1.25em;
	font-weight:bold;
	color:silver;
}
.fout{
 	color: red;
}

body{
	background-color: #A67C00;
	margin: 0 auto;
	width: 80%;
	font-family: sans-serif;
}

h1{
	color: silver;
}

input[type="number"]{
	border-radius:20% 20% 10% 10%;
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}

.btn {
  background: #badcf2;
  background-image: -webkit-linear-gradient(top, #badcf2, #2980b9);
  background-image: -moz-linear-gradient(top, #badcf2, #2980b9);
  background-image: -ms-linear-gradient(top, #badcf2, #2980b9);
  background-image: -o-linear-gradient(top, #badcf2, #2980b9);
  background-image: linear-gradient(to bottom, #badcf2, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 4px 1px 3px #666666;
  font-family: Arial;
  color: #d9c562;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  margin-bottom:1em;
}

.btn:hover {
  background: #349ee0;
  background-image: -webkit-linear-gradient(top, #349ee0, #3498db);
  background-image: -moz-linear-gradient(top, #349ee0, #3498db);
  background-image: -ms-linear-gradient(top, #349ee0, #3498db);
  background-image: -o-linear-gradient(top, #349ee0, #3498db);
  background-image: linear-gradient(to bottom, #349ee0, #3498db);
  text-decoration: none;
}